p Enter you login and password If it does not exist it will be created

form(method='post', action='/loginOrCreate')

    input(name='username',type='text',placeholder='username')

    input(name='password',type='password',placeholder='password')

    input(type='submit', value='Save')