div(id="messages",class="b-messages")
    each item in items
        p
            if withDate
                span(class="e-date") #{item.createdAt.getDate()}.#{item.createdAt.getMonth()}.#{item.createdAt.getFullYear()} #{item.createdAt.getHours()}:#{item.createdAt.getMinutes()}:#{item.createdAt.getSeconds()}&nbsp;

            if user && user.id==item.User.id
                span(class="e-name e-selected") #{item.User.username}:
            else
                span(class="e-name") #{item.User.username}:

            span &nbsp;#{item.comment}