if pages
    div(class="b-pagination")
        - for (var i=1; i<=pages; i++)
            if page == i
                strong=i
            else
                a(href="#{paginationLink}#{i}") #{i}

            span &nbsp;&nbsp;