extends layout

block content
    h1 Chat history

    p
        a(href="/") go to main page

    -var withDate = true
    include _messages.jade

    div(class="clear")
    -var paginationLink = '/history?page=';
    include _pagination.jade
