extends layout

block content
    h1 Chat
    p Welcome to Chat
    P
        a(href="/history") View history

    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/main.js")

    if user
        div(class="b-user")
            div(class="e-name") You are&nbsp;
                span(id="username")=user.username

            div(class="e-logout")
                form(method='post', action='/logout')
                    input(type='submit', value='Logout')

            div(class="clear")

        input(name='comment',id='inputMessage', placeholder="Your message")

     else
        include _login.jade

    div(class="clear")

    include _messages.jade

    div(class="b-right")
        h3 Now online
        div(id="userslist")