doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    body
        div(class="b-main")
            div(class="b-top")
            block content