HTML {
    height: 100%;
}

BODY {
    margin: 0;
    font-family: Tahoma;
    font-size:1em;
    color: #000;
    background-color:#FFF;
    font-weight: normal;
    height: 100%;
}

FORM {
    margin: 0;
    padding: 0;
}

TABLE {
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}

TD,TH {
    padding: 0;
}

IMG {
    border: 0;
}

.clear { clear:both; float:none !important; }

.b-top {
    height:1em;
}

.b-main {
    padding:0 3em;
}

.b-messages {
    float:left;
    width:65%;
    min-height:10em;
}

.b-right {
    float:left;
    width:35%;
    min-height:10em;
}

.b-messages .e-name {
    font-weight:bold;
}

.b-messages .e-date {
    font-size:0.7em;
}

.b-messages .e-selected {
    color:green;
}

.b-user {
    padding:1em 0;
}

.b-user .e-name {
    float:left;
    margin-right:1em;
}

.b-user .e-logout {
    float:left;
}